// Colors
$primary:                   #609AFA;
$secondary:                 #F2CB0E;
$gray-lightest:             #F7F8F9;
$border-color:              #E9E9E9;
$gray-light:                #EEEEEE;
$gray:                      #A0A0A0;

// Typography
$font-family-sans-serif:    'Roboto', sans-serif;
$font-size-sm:               11px;
$font-size-md:               13px;
$font-size-lg:               18px;


