// Colors
$primary:                   #544FFF;
$secondary:                 #5EFC8D;
$gray-lightest:             #F7F8F9;
$border-color:              #E9E9E9;
$gray-light:                #EEEEEE;
$gray:                      #A0A0A0;
$black:                     #212121;

// Typography
$font-family-sans-serif:    'Lato', sans-serif;
$font-size-sm:               12px;
$font-size-md:               14px;
$font-size-lg:               18px;


