// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import "variables";

//Shared
@import "header";
@import "helper";
@import "cards";
@import "modals";
@import "filter_search";
@import "btn";

//Pages
@import "pages/movies";
@import "pages/series";
@import "pages/wall";
@import "pages/media";

//Common Code
body {
    background-color: $gray-lightest;
    font-family: $font-family-sans-serif;
    padding-top: 150px;

    p {
        font-size: $font-size-md;
        margin-bottom: 0;
        color: $black;
    }
}






