.media-card {
    border: none;
    border-radius: 0;
    transition: all ease 1s;
    overflow: hidden;
    cursor: pointer;
    max-height: 370px;

    &:hover {
        .card-img {
            filter: blur(2px)
        }
    }

    .card-img-overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 37%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100%);

        .main-information {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            p {
                margin-bottom: 0;
            }
        }
    }
}

.discussion-card {
    max-height: 500px;
    background-color: $white;
    border: none;
    border-radius: 0;
    cursor: pointer;

    .card-img {
        background: url("http://de.web.img3.acsta.net/pictures/17/11/16/12/45/0662143.jpg");
        height: 90px;
        background-size: cover;
        background-position: center;
        position: relative;

        .header-title {
            color: $white;
            margin-bottom: 0;
            font-size: $font-size-lg;
            line-height: 45px;
        }
    }

    .card-img-overlay {
        background: rgba(0,0,0,.6);
    }

    .card-body {
        .svg-inline--fa {
            color: $gray;
            cursor: pointer;
            transition: all ease .5s;

            &:hover {
                color: $primary;
            }
        }
    }
}