.navbar {
    height: 80px;
    background-color: $gray-lightest;
    border-bottom: 1px solid $border-color;

    .user-img {
        width: 40px;
        height: 40px;
        border-radius: 80px;
    }

    .navbar-nav {
        .nav-item.active {
            .nav-link {
                color: $primary;
            }
        }
    }
}


