//Font Sizes
.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-md {
    font-size: $font-size-base;
}

.font-size-lg {
    font-size: $font-size-lg;
}

//Spacer
.line-spacer {
    height: 2px;
    width: 50px;
    background-color: $primary;
}

//Header
.wrapper-title {
    font-weight: $font-weight-bold;
}

//Divider
.section-diver {
    border-bottom: 1px solid $gray-light;
}

