.search {
    background-color: $white;
    border-radius: 100px;
    border: 1px solid $border-color;
    height: 35px;
    width: 150px;

    .form-control {
        box-shadow: none;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        border: none;
        background-color: transparent;
    }

    .input-group-text {
        border: none;
        padding-right: 0;
        color: $primary;
        background-color: transparent;
    }
}