.user-card {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 0;

    .user-img-top {
        height: 120px;
        width: 100%;
        background: url("https://static.pexels.com/photos/614810/pexels-photo-614810.jpeg") center;
        background-size: cover;
    }

    .add-wrapper {
        background-color: $secondary;
        padding: 12px;
        border-radius: 100px;
        position: absolute;
        right: 15px;
        top: 100px;
        cursor: pointer;

        .fa-user-plus {
            position: relative;
            top: -2px;
        }
    }

    .card-body {
        .user-name {
            font-size: 20px;
        }
    }
}