.profile-header {
    background-color: $white;
    border: 1px solid $border-color;

    .user-information {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .user-name {
            font-size: 25px;
        }

        .fa-user-plus {
            color: $gray;
            cursor: pointer;

            &:hover {
                color: $primary;
            }
        }
    }

    .user-img-profile {
        width: inherit;
        border-radius: 100%;
    }

    .user-activities {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.user-nav {
    background-color: $white;
    border: 1px solid $border-color;
    position: sticky;
    top: 150px;

    .nav {
        .nav-item {
            border-right: 1px solid $border-color;

            &:last-child {
                border-right: none;
            }

            .nav-link {
                padding: 0;
                color: $black;

                &.active-link {
                    color: $primary;
                }
            }
        }
    }
}

