.wall {
    .profile-wrapper {
        background-color: $white;
        height: 250px;
    }

    .recent-feed {
        background-color: $white;
        height: 400px;
    }

    .impressum-wrapper {
        background-color: $white;
        height: 150px;
    }

    .wall-wrapper {

    }
}