.wall {
    .profile-wrapper {
        position: sticky;
        top: 150px;

        .profile-welcome {
            background-color: $white;
            border: 1px solid $border-color;

            .user-img-profile {
                width: 100%;
                border-radius: 100%;
            }

            .name-wrapper {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .information-wrapper {
        position: sticky;
        top: 150px;

        .recent-feed {
            background-color: $white;
            border: 1px solid $border-color;
            height: 400px;
        }

        .impressum-wrapper {
            border: 1px solid $border-color;
            background-color: $white;

            .list-group {
                padding: 0;

                .list-group-item {
                    padding: 0;
                    border: none;

                    a {
                        color: $black;
                        font-size: $font-size-sm;
                        cursor: pointer;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}